:root {
  /* --main-font: "Roboto", sans-serif; */
  font-size: 10px;
  --font-huge: 8rem;
  --font-large: 4rem;
  --font-medium: 3.2rem;
  --font-small: 1.6rem;

  --space-s: 0.4rem 0.8rem;
  --space-m: 0.8rem 1.6rem;
  --space-l: 1.6rem 3.2rem;
  --space-04: 0.4rem;
  --space-1: 1rem;
  --space-2: 2rem;
  --space-3: 3rem;

  --light: #fff;
  --dark: rgb(0, 17, 0);
  --yellow_0: rgb(255 222 115);
  --yellow_1: rgb(255 198 11);
  --yellow_2: rgb(236 164 59);
  --yellow_3: rgb(193 106 8);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
}
body {
  font-size: 1.6rem;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
