body {
  font-size: 4rem;
  color: red;
}
.hello {
  font-size: 10rem;
  color: blue;
}

/* ############## RESPONSIVE ############## */
@media (max-width: 320px) {
}
@media (max-width: 480px) {
}
@media (max-width: 600px) {
}
@media (max-width: 768px) {
}
@media (max-width: 800px) {
}
@media (min-width: 1023px) {
}
