:root {
  /* --main-font: "Roboto", sans-serif; */
  font-size: 10px;
  --font-huge: 8rem;
  --font-large: 4rem;
  --font-medium: 3.2rem;
  --font-small: 1.6rem;

  --space-s: 0.4rem 0.8rem;
  --space-m: 0.8rem 1.6rem;
  --space-l: 1.6rem 3.2rem;
  --space-04: 0.4rem;
  --space-1: 1rem;
  --space-2: 2rem;
  --space-3: 3rem;

  --light: #fff;
  --dark: rgb(0, 17, 0);
  --yellow_0: rgb(255 222 115);
  --yellow_1: rgb(255 198 11);
  --yellow_2: rgb(236 164 59);
  --yellow_3: rgb(193 106 8);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
}
body {
  font-size: 1.6rem;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  background-color: var(--yellow_0);
  display: flex;
  flex-direction: column;
  padding: var(--space-1);
}
.header * {
  text-transform: uppercase;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-top-left {
}
.header-top-left > .logo {
  font-size: var(--font-huge);
  border-radius: var(--space-2);
  background-color: var(--yellow_2);
  padding: var(--space-1);
  cursor: pointer;
}
.header-top-right {
  flex: 1;
}
.header-top-right > nav.links {
  display: flex;
  justify-content: space-evenly;
}
.header-top-right > nav.links > .btn {
  font-size: var(--font-small);
  padding: var(--space-l);
  background-color: var(--yellow_2);
  border-radius: var(--space-1);
  border: 0 solid #000;
  cursor: pointer;
}
.header-top-right > nav.links > .social-links {
}
.header-top-right > nav.links > .social-links > a.link {
}
.header-bottom {
  height: 100%;
  flex: 1;
}
.header-bottom > nav.links {
  display: flex;
  flex-direction: row;
  gap: var(--space-04);
  align-items: flex-end;
  justify-content: end;
}
.header-bottom > nav.links > p.social-links {
  border-radius: var(--space-1);
  background-color: var(--yellow_2);
  padding: var(--space-04);
}
.header-bottom > nav.links > p.social-links > a.link {
  color: var(--dark);
  font-size: var(--font-small);
  text-decoration: none;
}
.header-bottom > nav.links > p.social-links:hover > a.link {
  color: red;
}

/* ############## RESPONSIVE ############## */
@media (max-width: 320px) {
}
@media (max-width: 480px) {
}
@media (max-width: 600px) {
}
@media (max-width: 768px) {
}
@media (max-width: 800px) {
}
@media (min-width: 1023px) {
}
